@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
  margin: 0px;
  font-family: "Handjet", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  color: #6F7B58;
  line-height: 0%;
  background-image: url('../src/Images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin-top: 80px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}